/* Colors */

:root{
    --background_1-color--: rgba(245, 247, 250, 1);
    --background_2-color--: white;
    --botton_1-color--: rgb(76, 175, 79,1);
    --botton_2-color--: rgb(255, 255, 255);
    --text-color--: black;
    --text-1_color--:rgba(137, 147, 158, 1);
    --foote_color--: rgba(38, 50, 56, 1);
    --text_footer-color--: rgb(255, 255, 255);


}

/* global */

*,::after,::before{
    margin: 0;
    top: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
}

/* NAVEGATION BAR */

#nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 8rem;
    box-shadow: 0px 0px 10px var(--text-color--);
}   

.logo{
    width: 100%;
    display: block;
    height: 30%;
    width: auto;
}

.list_menu{
    display: flex;
    gap: 2rem;
    list-style: none;
}

.links{
    text-decoration: none;
    color: var(--text-color--);
}

.bottons_start{
    display: flex;
    align-items: center;
    gap: 3rem;
}

.bottons_start1,
.bottons_start2{
    text-decoration: none;
    color: var(--botton_1-color--);
}

.bottons_start2{
    display: flex;
    background-color: var(--botton_1-color--);
    width: 5rem;
    height: 3rem;
    border-radius: 2px;
    align-items: center;
    justify-content: center;
    color: var(--botton_2-color--);
}

/* HERO AREA */

#hero{
    background-color: var(--background_1-color--);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-items: center;
    height: 22%;
}

.img_hero{
    height:31rem ;

}

.tittle_hero{
    font-size: 450%;

}

.tittle_hero span{
    color: var(--botton_1-color--);
}

.text_hero{
    font-size: 1.5rem;
}

.link_hero{
    display: flex;
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: var(--botton_1-color--);
    width: 6rem;
    height: 4rem;
    border-radius: 2px;
    color: var(--botton_2-color--);
    font-size: 1.5rem;
    
}

/* CLIENTES and FEATURES */

#clients,
#feature{
    display: flex;
    flex-direction: column;
    margin-top: 15rem;
    align-items: center;
    gap: 2rem;
}

.tittle_client,
.tittle_features{
    text-align: center;
    font-size: 4rem;
    
}


.text_client,
.text_features{
    margin-top: 3rem;
    font-size: 2rem;
    text-align: center;
}

.img_clients{
    width: 100%;
    margin-top: 6rem;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    justify-items: center;
    align-items: center;
}

#feature{
    margin-top: 22rem;
}

/* FEATURES IMGS */

.container_img{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    text-align: center;
    margin-top: 5rem;
}

.tittle_feature{
    font-size: 3rem;
}

.img_features{
    font-size: 2rem;
    margin-top: 2rem;
}

.img_features img{
   height: 10rem; 
   margin-bottom: 2rem;
}

/* WORKFLOW */

#workflow{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-content: space-between;
    margin-top: 12rem;
}

.img_workflow{
    display: block;
    margin-left: 2rem;
    height:31rem ;

}

.tittle_workflow{
    font-size: 400%;

}

.text_workflow{
    margin-right: 1rem;
    font-size: 1.5rem;
}

.link_workflow{
    display: flex;
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: var(--botton_1-color--);
    width: 8rem;
    height: 4rem;
    border-radius: 2px;
    color: var(--botton_2-color--);
    font-size: 1.5rem;
}

/* Information */

#information{
    width: 100%;
    background-color: var(--background_1-color--);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-content: space-between;
    margin-top: 12rem;
    height: 380px;
}

.info{
    font-size: 3rem;
    margin-left: 1rem;

}

.info span{
    color: var(--botton_1-color--);
}

.text_info{
    margin-left: 1rem;
    font-size: 1.5rem;
}

.cont_info{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    
}

.container_info{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_info img{
    width: 6rem;
}

.container_info p span{
    font-size: 2rem;
}

/* DESIGN FOOTER */

#design{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-content: space-between;
    margin-top: 12rem;
}

.img_D{
    display: block;
    margin-left: 10rem;
    height:31rem ;
}

.tittle_D{
    font-size: 340%;

}

.text_D{
    
    font-size: 1.5rem;
}

.text_D1{
   margin-right: 8rem; 
}

.link_D{
    display: flex;
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: var(--botton_1-color--);
    width: 8rem;
    height: 4rem;
    border-radius: 2px;
    color: var(--botton_2-color--);
    font-size: 1.5rem;
}

/* TESTIMONIAL */

#testimonial{
    background-color: var(--background_1-color--);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-content: space-between;
    margin-top: 12rem;
}

.img_testi{
    display: block;
    margin-left: 10rem;
    height:31rem ;
    
}

.tittle_T{
    font-size: 320%;

}

.text_T{
    font-size: 1.3rem;
}

.text_T1{
   margin-right: 5rem; 
}

#name{
    color: var(--botton_1-color--);
    font-size: 2rem;
}

#smaller_text{
    color: var(--text-1_color--);
}

.container_test{
    display: flex;
    margin-top: 2rem;
    gap: 2rem;
    justify-items: center;
    align-items: center;
}

.text_testimonial{
    font-size: 2rem;
    color: var(--botton_1-color--);
}

:hover .text_testimonial{
    cursor: grab;
}

/* BLOG */

#blog{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    justify-items: center;
    margin-top: 5rem;
}

.container_b{
    width:40rem ;
}

.tittle_blog{
    font-size: 3rem;
}

.text_blog{
    margin-top: 3rem;
    font-size: 1.5rem;
}

.container_blog{
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 4rem;   
    align-items: center;
    justify-items: center;
    text-align: center;
    justify-content: center;
}

.img_text{
    position: relative;
    background-color: var(--background_1-color--);
    border-radius: 10px;
    width: 10rem;
    transform: translateY(-7rem);
}

.img_text span{
    color: var(--botton_1-color--);

}

:hover .img_text span{
    cursor: grab;
}

/* FOOTER */

#footer{
    width: 100%;
    background-color: var(--foote_color--);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5rem;
}

.tittle_company,.tittle_support{
    font-size: 2.2rem;
}

.list_company,.list_support,.img_footer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--text_footer-color--);
    
}

.links_company,.links_suport{
    list-style: none;
    font-size: 1.4rem;
}

#copy{
    margin-left: 2rem;
}

.email_footer{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    color: var(--text_footer-color--);
}

.email_f{
    width: 10rem;
    height: 2rem;
    border-radius: 10px;
}

:hover .links_company,.links_suport{
    cursor: pointer;
}

@media (max-width: 430px) {

    /* GLOBAL */
    body {
        overflow-x: hidden;
    }

    /* NAV */
    #nav {
        flex-direction: column;
        height: auto;
        padding: 1rem;
        gap: 1.5rem;
    }

    .list_menu {
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }

    .bottons_start {
        gap: 1rem;
    }

    /* HERO */
    #hero {
        grid-template-columns: 1fr;
        text-align: center;
        padding: 2rem 1rem;
    }

    .tittle_hero {
        font-size: 2.5rem;
    }

    .text_hero {
        font-size: 1.2rem;
    }

    .img_hero {
        width: 100%;
        height: auto;
        max-width: 300px;
        margin-top: 2rem;
    }

    /* CLIENTS */
    .img_clients {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    /* FEATURES */
    .container_img {
        grid-template-columns: 1fr;
        gap: 4rem;
    }

    .tittle_features {
        font-size: 2.2rem;
    }

    .img_features {
        font-size: 1.4rem;
    }

    /* WORKFLOW */
    #workflow {
        grid-template-columns: 1fr;
        text-align: center;
        padding: 2rem 1rem;
    }

    .img_workflow {
        width: 100%;
        height: auto;
        margin: 0 auto 2rem;
    }

    .tittle_workflow {
        font-size: 2.2rem;
    }

    /* INFORMATION */
    #information {
        grid-template-columns: 1fr;
        height: auto;
        text-align: center;
        padding: 2rem 1rem;
        gap: 2rem;
    }

    .cont_info {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    /* DESIGN */
    #design {
        grid-template-columns: 1fr;
        text-align: center;
        padding: 2rem 1rem;
    }

    .img_D {
        width: 100%;
        height: auto;
        margin: 0 auto 2rem;
    }

    .text_D1 {
        margin-right: 0;
    }

    /* TESTIMONIAL */
    #testimonial {
        grid-template-columns: 1fr;
        text-align: center;
        padding: 2rem 1rem;
    }

    .img_testi {
        width: 100%;
        height: auto;
        margin: 0 auto 2rem;
    }

    .container_test {
        flex-wrap: wrap;
        justify-content: center;
    }

    /* BLOG */
    .container_blog {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .img_text {
        width: 90%;
        margin: 0 auto;
        transform: translateY(-3rem);
    }

    /* FOOTER */
    #footer {
        grid-template-columns: 1fr;
        text-align: center;
        padding: 2rem 1rem;
    }

    .email_f {
        width: 100%;
    }
}
